// Mixins in here
.buttonStyle(@width,@height,@font-size,@bg-color,@font-color){
    width: @width;
    height: @height;
    font-size: @font-size;
    background-color: @bg-color;
    color: @font-color;
}

//display
.flex(@justify,@align){
    display:flex;
    justify-content: @justify;
    align-items: @align;
}
