// Navigation Styles here

.nav-container{ 
    background: #ffc0cb;
    margin: auto;
    padding: 20px;
    border-bottom: 2px dashed silver;
  
    .nav-section{
        background:lightgray;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        max-width:800px;
        align-content: center;
     
        h1{
            background: white;
            padding:0 0 0 50px;
        }
        nav{
          
        
            a{
                background:red;
          
                
            }
        }
    }
}